<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
    function validateForm() {
    var x = document.forms["myForm"]["name"].value;
    if (x == "") {
        alert("Name must be filled out");
        return false;
    }
  }
  </script>
</head>

<body>
    <div class="jumbotron" style="background:#b3d6ff; font-family:\" Times New Roman\ ", Times, serif; orientation:center">
        <h1>New Catalog</h1>
        <form name="myForm" action="#" onsubmit="return validateForm()" method='post'>
            <p>Name:</p>
            <input type='text' size='30' name='name'>
            <p>Description: </p>
            <input type='text' size='30' name='description'>
            <input type='submit' value='Create'>
            	<a href="{{url_for('showGenres')}}"> Cancel </a>
        </form>
    </div>
</body>

</html>
