<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
    <div class="log" style="float:right; margin-right:50px">
        <button onclick="location.href = '{{url_for('showLogin')}}'" class="btn btn-success">
            LogIn <span class="glyphicon"></span>
        </button>
    </div>
    <h1 align="center"><em>List of Catalog</em></h1>


    {% for genre in genres %}
    <div class="panel" style="margin-left:30px; margin-right:30px; background:#b3d6ff; font-family:\" Times New Roman\ ", Times, serif">
        <a href="{{url_for('showBooks', genre_id = genre.id)}}">
            <h3>{{genre.name}}</h3>
        </a>
        <p>{{genre.description}}</p>
        <hr>
    </div>



    {% endfor %}

    </div>
</body>

</html>
